<% if logged_in? && (current_user == @article.user || current_user.admin?)%>
        <button class="btn btn-default">
            <%= link_to "Edit Post", edit_article_path %> 
        </button>
        <button class="btn btn-default">
            <%= link_to "Delete Post", article_path(@article), :method => :delete, data: {confirm: "Are you sure?"} %>
        </button>
<% end %>