<header class = "">
        <div class = ""> 
            <button class="btn btn-default">
                <%= link_to "Search for Posts", searchPage_articles_path %>
            </button>
        </div>
</header>