<%= render 'partials/header' %>

<div id="blog" class="sectionDiv">
<div class="sectionTitle">Blog</div>
<hr class="sectionHR">

<div class="">
    <header class = "">
        <div class = "">
                    <button class="btn">
                        <a class = "" href="/blogs/newblog">Add New Blog</a>
                    </button>
        </div>
    </header>
    <div class = "">
            
                <div class = "">
                    <div class ="">
                            <div class = "">
                                <h4>blogTitle </h4>
                            </div>
                            <div>
                                <p>blogDate</p>
                            </div>
                            <div>
                                <pre id="postArea">blogPost.substring(0,200)...</pre>
                            </div>
                            <button class="btn">
                                <a href="" class="">Read More</a>
                            </button>
                    </div>
                </div>
            
    </div>
</div>

</div>

<%= render 'partials/footer' %>