<div id="blog" class="sectionDiv">
        <div class="sectionTitle">Blog</div>
        <hr class="sectionHR">
        
        <%= render 'lookup' %>
        <div>
            <%= render 'newPostLinkIndex' %>
            
            <%= render 'indexPaginate' %>
        </div>

</div> 