<%= render "partials/header" %>

<div id="show" class="sectionDiv">
<div class="sectionTitle"></div>
<hr class="sectionHR">

     <div class ="">
                    <div class ="">
                        <div>
                            <h4><%= @article.title %></h4>
                            
                            <div id="postArea"><pre id="postedBlog"><%= @article.description%></pre></div>
                            <button class="btn"><a href="">Edit</a></button>
                            <form id="" action="" method="POST">
                                <button class="btn">Delete</button>
                            </form>
                        </div>
                    </div>
        </div>

</div>

<%= render "partials/footer" %>