

 <div id="about" class="sectionDiv">
    <div class="sectionTitle">ABOUT</div>
    <hr class="sectionHR"/>
    <table>
        <tr>
            <td>
                <%= image_tag("caraAndDog.jpg", :alt => "caraDog", :id => "caraDog") %>
                <div>Just a typical day at the office.</div>
            </td>
        </tr>
    </table>
    <p>You can read all about my academic background in the resume section, 
    but what it doesn’t tell you is that — like so many before me — I failed at college 
    the first time around for sheer lack of focus. When I went back full-time in earnest, 
    I had switched majors from history to writing and suddenly found myself immersed in 
    the company of a group of peers who were whip-smart and devastatingly sarcastic and who — 
    just by being part of my everyday life — challenged me to do better and try harder than I had before.</p>
    
    <p>I also wrote under an incredible cache of professors who encouraged me and 
    made me believe in my talent. Failing out of college is humiliating; these teachers 
    gave me the self-confidence I needed to excel, while helping me find my calling, my purpose.</p>
    
    <p>Since graduating in 2010 with high honors, I have been working mainly as a 
    freelance writer, penning web content on a regular basis and long fiction pieces 
    on a more sporadic schedule, both as a ghost writer (hence my lack of links-to-articles). 
    Before I started I wondered if it was like working in fast food, where you sometimes 
    develop an aversion to cheeseburgers. (I mean, I could never not love cheeseburgers,
    but I guess those people exist.) Luckily, when you get to do what you love — and 
    you have the freedom freelancing affords — there is hardly any resentment for the work.</p>
    
    <p>When I’m not writing, I tend to be reading, as all the best writers are. 
    For pleasure, I gravitate toward biographies of European royalty and history books 
    (Erik Larson’s <em>In the Garden of Beasts</em> has stayed with me years after reading), 
    along with Internet articles ranging in topic from current events to feminism to 
    ponytail hacks. Oh, and I borrow my mom’s <em>Good Housekeeping</em> magazines, if only for 
    the advice columns on how to remove stains or tell a rude houseguest to hit the road.</p>
    
    <p>When I’m not reading, I am laughing at some witty comment my kiddo made, 
    whipping up something in the kitchen for my food-vacuum fiance (all noodles everything), 
    watching the latest <em>Game of Thrones</em> episode or taking my beagle Baratheon to the dog park 
    (so he can sniff every square inch and not socialize with any of the other dogs, of course).</p>
</div>


