<%= render "partials/header" %>
<div id="contact" class="sectionDiv">
<div class="sectionTitle">Contact</div>
<hr class="sectionHR">

<p>If you would like to contact me, you can email me at:</p>

<p><h4>carajsuppa@gmail.com</h4></p>

<p>Ask questions (get answers!), request more samples or get in touch if 
you are interested in my writing and would like to put me to work for you.</p>

<p>You can find me on Linkedin at the link below:</p>
<a href="https://www.linkedin.com/in/cara-j-suppa-9b504625"><i class="fa fa-linkedin-square fa-5x"></i></a>

</div>

<%= render "partials/footer" %>