

<div id="home" class="sectionDiv">
<div class="sectionTitle">Home</div>
<hr class="sectionHR">
<%= image_tag("caraErie.jpg", :id => "erieIMG") %>


<p>Welcome to the online portfolio for <strong>Cara J. Suppa</strong>, or as I know myself: that 
gal with the slavish devotion to word processors and iced coffee. 
I’m a freelance writer living and working out of Erie, PA, less than a mile from 
beautiful Lake Erie (pictured above at the Walnut Creek Marina — yes, that’s really 
Pennsylvania, give or take a few Instagram filters) and the incomparable Presque Isle State Park. 
Feel free to take a look around my site, and I hope you’ll take the time to read 
through my samples, versatile and award-winning (seriously!) as they are.</p>

</div>

