

<div id="resume" class="sectionDiv">
<div class="sectionTitle">Resumé</div>
<hr class="sectionHR">
<p><h4>STRENGTHS:</h4></p>
<p><strong>Writing, Editing, Proofreading, Research, Web Savvy</strong></p>
<ul>
    <li>Superb knowledge and understanding of grammar, syntax, semantics, spelling and punctuation.</li>&nbsp;
    <li>Command of most writing styles, including AP Style and MLA.</li>&nbsp;
    <li>Exhaustive research capabilities online and in print.</li>&nbsp;
    <li>Fluent use of social media sites: Facebook, Twitter, Youtube, etc.</li>&nbsp;
</ul>



<div id="experience">
<h4>EXPERIENCE:</h4>
    <p><strong>Freelance content writer (May 2012-present)</strong></p>
        <p>Generates article topics, researches and creates accessible, 
         engaging content on a variety of topics while incorporating keywords 
         and maintaining AP style, with emphasis on meeting deadlines.</p>
         
    <p><strong>Freelance fiction writer (April 2011-present)</strong></p>
        <p>Creates stories up to 50,000 words in length while working with detailed 
         outlines, fleshing out characters and creating larger-than-life situations 
         aimed to titillate, resonate and entertain.</p>
    <p><strong>Copy editor, Edinboro University Spectator (August 2009-April 2010)</strong></p>
         <p>Perused news copy for errors in spelling, grammar and adherence to AP style 
         while fact-checking articles for accuracy.</p>
</div>&nbsp;
 
<h4>EDUCATION:</h4>
<strong>Bachelor of Arts, English Writing
Edinboro University of Pennsylvania, Edinboro, PA
Fall 2010, summa cum laude</strong>
<ul>
    <li>3.8 GPA overall; 3.9 GPA within major.</li>&nbsp;
    <li>Minor in history.</li>&nbsp;
    <li>Coursework in technical and business writing; creative nonfiction; fiction and poetry; and grammar and linguistics.</li>&nbsp;
    <li>Outstanding Departmental Senior for the 2010 school year.</li>&nbsp;
    <li>Recipient of Pfingstler English scholarship in 2010 and Frank LaBounty scholarship from 2008-2010.</li>&nbsp;
    <li>Member and vice president of Sigma Tau Delta, EUP’s English honors society from 2009-2010.</li>&nbsp;
</ul>
<em>References available upon request.</em>

</div>

