<%= render 'partials/header' %>

<div id="newBlog" class="sectionDiv">
<div class="sectionTitle">Add A New Blog</div>
<hr class="sectionHR">

    <div id="">
            <form id="newblog" name="newblog" action = "/blogs" method= "POST">
                <div class = "">
                    Blog Title:<input class ="" type="text" name = "blogTitle" placeholder = "title">
                </div>&nbsp;
                <div class = "">
                    Date:<input id="date" type="text" name = "blogDate">
                </div>&nbsp;
                <div  class = "">
                    <textarea wrap="hard" id="blogArea" name="blogPost"></textarea> 
                </div>&nbsp;
                <div  class = "">
                    <button class="btn">Submit</button>
                </div> 
            </form> &nbsp;
          
    </div>

</div> 

<%= render 'partials/footer' %>