
            <div id="blurb" class="sectionDiv">
                 <%= image_tag("cara.jpg", :alt => "cara") %>
                <p class="nameBlurb">Cara J. Suppa</p>
                <hr class="sectionHR">
                <p>Freelance writer, glorious/low-brow foodie and recent iPhone convert. 
                Witness my effort to rein in an almost debilitating tendency toward sarcasm 
                and self-deprecation.</p>
                  <%= render 'layouts/logoutButton' %>
            </div>

       