<!DOCTYPE html>
<html>
    <header>
        <title>
            Cara J. Suppa: The Online Writing Portfolio
        </title>
    </header>
<body> 
 
<div class="headContainer">
     <div id="headTitle">Cara J. Suppa: The Online Writing Portfolio</div>
          
            <span id="navbarLinks"><a href="/">Home</a></span>
            <span id="navbarLinks"><a href="/about">About</a></span>
            <span id="navbarLinks"><a href="/portfolio">Portfolio</a></span>
            <span id="navbarLinks"><a href="/resume">Resumé</a></span>
            <span id="navbarLinks"><a href="/contact">Contact</a></span>
            <span id="navbarLinks"><a href="/articles">Blog</a></span>
            <br>
            <br>
        <div>
        <% flash.each do |name,msg| %>
           <div><%= msg %></div>
         <% end %>
        </div>
</div>

  <div id="blurb" class="sectionDiv">
     <%= image_tag("cara.jpg", :alt => "cara and dog") %>
    <p class="nameBlurb">Cara J. Suppa</p>
    <hr class="sectionHR">
    <p>Freelance writer, glorious/low-brow foodie and recent iPhone convert. 
    Witness my effort to rein in an almost debilitating tendency toward sarcasm 
    and self-deprecation.</p>
      <% if logged_in? %>
          <%= link_to 'log out', logout_path, method: :delete %>
      <% end %>
  </div>